<!DOCTYPE xhtml>
<html>
	<head>
		<title>Prueba impresion</title>
		<link rel="stylesheet" href="css/print.css"/>
	</head>
	<body>
		<div id="mainContainer">
			<div id="header">
				<div class="icon">
					<img src="img/icon.png" alt="company" >
				</div>
				<div class="title">Javier Lacalle, Adesis</div>
			</div>
			<div id="wrapper">
				<div class="title">Albaranes</div>
				<table id="contentTable">
					<tr>
						<th>ID</th>
						<th>NOMBRE</th>
						<th>PLANETA</th>
						<th>HORA</th>
					</tr>
					<tr>
						<td>1</td>
						<td>Javi</td>
						<td>Tierra</td>
						<td>12:56</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Fry</td>
						<td>Tierra</td>
						<td>16:56</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Leela</td>
						<td>Tierra(mutante)</td>
						<td>17:56</td>
					</tr>
					<tr>
						<td>4</td>
						<td>Amy Wong</td>
						<td>Marte</td>
						<td>19:56</td>
					</tr>
					<tr>
						<td>5</td>
						<td>Zoiberg</td>
						<td>Decapod 10</td>
						<td>20:56</td>
					</tr>
				</table>
			</div>
			<div id="footer">
				<div class="info">Pruebas de concepto jade-pdf</div>
			</div>
		</div>
	</body>
</html>